/*文字广告位*/
.tp-ad-text1 {
	width: 100%;
	padding-top: 6px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;
	background: rgba(255, 255, 255, .2);
	/*display: none;*/
}

.tp-ad-text1 a {
	color: #7fba00;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	border: 1px dashed rgba(0, 0, 0, .2);
	box-sizing: border-box;
	float: left;
	width: 49%;
	height: 19px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0.5% 0.5%;
	text-decoration: none;
	transition: all .6s;
}

.tp-ad-text1 a:hover {font-weight: bold;color:#fff!important;background:#7fba00;transition: all .6s;}
.tp-ad-text1 a:nth-child(2n) {color:#f74e1e;}
.tp-ad-text1 a:nth-child(2n):hover {background:#f74e1e;border-color: #f74e1e;}
.tp-ad-text1 a:nth-child(3n) {color:#00a4ef;}
.tp-ad-text1 a:nth-child(3n):hover {background:#00a4ef;border-color: #00a4ef;}
.tp-ad-text1 a:nth-child(4n) {color:#0517c2;}
.tp-ad-text1 a:nth-child(4n):hover {background:#0517c2;border-color: #0517c2;}
.tp-ad-text1 a:nth-child(5n) {color:#601165;}
.tp-ad-text1 a:nth-child(5n):hover {background:#601165;border-color: #601165;}
.tp-ad-text1 a:nth-child(6n) {color:#0e7168;}
.tp-ad-text1 a:nth-child(6n):hover {background:#0e7168;border-color: #0e7168;}
.tp-ad-text1 a:nth-child(7n) {color:#762790;}
.tp-ad-text1 a:nth-child(7n):hover {background:#762790;border-color: #762790;}
.tp-ad-text1 a:nth-child(8n) {color:#f78005;}
.tp-ad-text1 a:nth-child(8n):hover {background:#f78005;border-color: #f78005;}
.tp-ad-text1 a:nth-child(9n) {color:#272d39;}
.tp-ad-text1 a:nth-child(9n):hover {background:#272d39;border-color: #272d39;}
.tp-ad-text1 a:nth-child(10n) {color:#bb1fef;}
.tp-ad-text1 a:nth-child(10n):hover {background:#bb1fef;border-color: #bb1fef;}
.tp-ad-text1 a:nth-child(11n) {color:#f74e1e;}
.tp-ad-text1 a:nth-child(11n):hover {background:#f74e1e;border-color: #f74e1e;}
.tp-ad-text1 a:nth-child(12n) {color:#0e7168;}
.tp-ad-text1 a:nth-child(12n):hover {background:#0e7168;border-color: #0e7168;}
.tp-ad-text1 a:nth-child(13n) {color:#272d39;}
.tp-ad-text1 a:nth-child(13n):hover {background:#272d39;border-color: #272d39;}
.tp-ad-text1 a:nth-child(14n) {color:#f74e1e;}
.tp-ad-text1 a:nth-child(14n):hover {background:#f74e1e;border-color: #f74e1e;}
.tp-ad-text1 a:nth-child(15n) {color:#7fba00;}
.tp-ad-text1 a:nth-child(15n):hover {background:#7fba00;border-color: #7fba00;}
.tp-ad-text1 a:nth-child(16n) {color:#0fc317;}
.tp-ad-text1 a:nth-child(16n):hover {background:#0fc317;border-color: #0fc317;}
.tp-ad-text1 a:nth-child(17n) {color:#0517c2;}
.tp-ad-text1 a:nth-child(17n):hover {background:#0517c2;border-color: #0517c2;}
.tp-ad-text1 a:nth-child(18n) {color:#bb1fef;}
.tp-ad-text1 a:nth-child(18n):hover {background:#bb1fef;border-color: #bb1fef;}
.tp-ad-text1 a:nth-child(19n) {color:#1e75b9;}
.tp-ad-text1 a:nth-child(19n):hover {background:#1e75b9;border-color: #1e75b9;}
.tp-ad-text1 a:nth-child(20n) {color:#f74e1e;}
.tp-ad-text1 a:nth-child(20n):hover {background:#f74e1e;border-color: #f74e1e;}

/*横幅广告位_开始*/
.hengfuad {
    width: 100%;
}

.hengfuad img{
    /*height : "50px";*/
    width: 100%;
    margin-top: 5px;
}
